html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #44916F;
  color: white;
}


main {
  flex: 1;               
  text-align: center;
  padding: 80px 20px 0;  
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.nav-right a,
footer a {
  margin: 0 10px;
  color: #B2D9C4;
  text-decoration: none;
  font-weight: bold;
}

.nav-right a:hover,
footer a:hover {
  color: #44916F;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 12px;
}
