html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #44916F;
  color: white;
}


main {
  flex: 1;               
  text-align: center;
  padding: 80px 20px 0;  
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.nav-right a,
footer a {
  margin: 0 10px;
  color: #B2D9C4;
  text-decoration: none;
  font-weight: bold;
}

.nav-right a:hover,
footer a:hover {
  color: #44916F;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 12px;
}

.project {
  display: inline-block;
  width: 30%; /* Contrôle la taille des blocs */
  margin: 15px;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project h2 {
  color: #44916F;
  font-size: 1.5em;
}

.project p {
  font-size: 1em;
  color: #666;
}

.project:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project a {
  text-decoration: none;
  color: inherit;
}
